.imageOne{
    opacity: 0.4;
    filter: alpha(opacity=40);
     display: block;
     margin: auto;
 }

 .containerOne{
 margin: -48px;
 margin-bottom: -20px;
 }

 .custom-select{
 background-color: #dfe7ff;
 border-color: #dfe7ff;
 color: #1E90FF;
 width: 205px;
 font-color: black;
 }

.row{
border: 1px solid;
font-size: 18px;
}