 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

 .imageOne{
    opacity: 0.4;
    filter: alpha(opacity=40);
     display: block;
     margin: auto;
 }

.col-3{
border: 1em double white;
border-radius: 1em;
font-size:18px;

}

.row{
border: 1em double white;
border-radius: 0,5em;
}

.row{
border: medium solid white;
