<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
  <footer class="text-center text-white" style="background-color: #292828">

    <div class="container" >

      <section class="mt-5">

        <div class="row text-center d-flex justify-content-center pt-5">

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/aboutus" class="text-white">About us</a>
            </h6>
          </div>
        </div>

      </section>


      <hr class="my-5" />


      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              This site is designed to provide users with feedback on their negotiations in order to get better in further negotiations!!
            </p>
          </div>
        </div>
      </section>

    </div>
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2023 Copyright:
      <a class="text-white" href="http://localhost:8080"
      >SOPRANegotiation.com</a
      >
    </div>
  </footer>
</th:block>
</html>