<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<th:block th:fragment="navbarAdmin">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e2e1e3;">
    <div class="container-fluid">
      <a class="navbar-brand">
        <div class="logo-image">
          <img src="https://cdn-icons-png.flaticon.com/512/6487/6487865.png" class="img-fluid" style="width: 46px; height: 46px; border-radius: 50%; overflow: hidden; margin-top: -6px;">
        </div>
      </a>
      <strong class="navbar-brand text-primary">SOPRA Negotiation Website</strong>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-primary" aria-current="page" href="/admin/tables">View Table</a>
          </li>
        </ul>


        <div class="modal fade" id="ModalAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Admin Charts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul id="checkboxListAdmin">
                  <div>
                    <label>
                      <input type="checkbox" value="Option 1"> Average TKI Value Of Users Chart
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="checkbox" value="Option 2"> Average Joint Utility Chart
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="checkbox" value="Option 3"> Average Contract Imbalance Chart
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="checkbox" value="Option 4"> Average Message Count Chart
                    </label>
                  </div>
                </ul>
              </div>
              <div class="modal-footer">
                <button onclick="applySelectionAdmin()" type="button" class="btn btn-primary" id="applyButtonAdmin"><i class="fas fa-download"></i>
                  Export
                </button>
              </div>
            </div>
          </div>
        </div>

        <ul class="nav navbar-nav ml-auto mb-2 mb-lg-0">
          <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </button>
          </form>
        </ul>
      </div>

    </div>
  </nav>


</th:block>
</html>