<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<th:block th:insert="~{fragments/htmlHead :: head}"></th:block>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="logo.css" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6487/6487865.png">
    <script>
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="https://cdn-icons-png.flaticon.com/512/6487/6487865.png" class="img-fluid">
            </div>
        </a>
        <a class="navbar-brand" href="#">SOPRA Verhandlungswebsite</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/negotiation">Negotiation</a>
                </li>

            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <i class="fa fa-user icon"></i>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Ausloggen" class="btn btn-primary"/></form>
        </ul>
    </div>
</nav>
<div class="container">
        <canvas id="UtilityChart" ></canvas>
        <script th:inline="javascript">
            const bestUtility = /*[[${bestUtility}]]*/ [];
            const worstUtility = /*[[${worstUtility}]]*/ [];
            const xValues = /*[[${countArray}]]*/ [];
            document.write("Utility Values: " + bestUtility);

            new Chart("UtilityChart", {
                type: "line",

                data: {
                    labels: xValues,
                    datasets: [{
                        label: 'BestUtility',
                        borderColor: "rgba(255,0,0)",
                        data: bestUtility
                    },
                        {
                            label: 'WorstUtility',
                            borderColor: "rgba(0,0,255)",
                            data: worstUtility
                        }]
                },
                options: {
                    scales: {
                        y:{
                            display:true,
                            min:0,
                            max:1,

                        }
                    }
                }
            });

        </script>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Ausloggen" class="btn btn-primary"/></form>
</div>
<footer class="text-center text-white" style="background-color: #343a40">

    <div class="container">

        <section class="mt-5">

            <div class="row text-center d-flex justify-content-center pt-5">

                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">About us</a>
                    </h6>
                </div>
            </div>

        </section>


        <hr class="my-5" />


        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        This Website is designed to give Users Feedback for their Negotiations. In Order to get better in further Negotiations!
                    </p>
                </div>
            </div>
        </section>

    </div>
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2020 Copyright:
        <a class="text-white" href="http://localhost:8080"
        >SOPRANegotiation.com</a
        >
    </div>
</footer>
</div>
</body>
</html>