<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<th:block th:insert="~{fragments/htmlHead :: head}"></th:block>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="logo.css"/>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6487/6487865.png">
    <script>
    </script>
</head>
<body>
<th:block th:include="fragments/navbar.html :: navbar" ></th:block>
<div class="container">
    <h3>Feedback during the negotiation</h3>
    <p th:text="'Here you can see the feedback to your selected Negotiation: Negotiation ' + ${selectedOption}"></p>
    <div class="border p-3">
        <h6 th:text="'You chose this Aspiration Level: ' + ${selectedAspirationLevel}+'%'"></h6>
        <p th:text="${feedbackAsp}"></p>
        <h6 th:text="'You chose this Reservation Level: ' + ${selectedReservationLevel}+'%'"></h6>
        <p th:text="${feedbackRes}"></p>
    </div>
    <br>
    <h5 th:text="'Here you can see the utility values from your partners offers/counteroffers:'"></h5>
    <!--
   <button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Export diagrams</button>
   <div id="demo" class="collapse border p-3">
       <br>
       <label for="buttonExport">Utility Chart:</label>
       <button class="btn btn-secondary" id="buttonExport" onclick="exportChart()">Export</button>
       <br>
       <br>
       <label for="buttonExport2">JointUtility Chart:</label>
       <button class="btn btn-secondary" id="buttonExport2" onclick="exportChart2()">Export</button>
       <br>
       <br>
       <label for="buttonExport3">ContractImbalance Chart:</label>
       <button class="btn btn-secondary" id="buttonExport3" onclick="exportChart3()">Export</button>
   </div>
-->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Export diagrams
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Diagrams</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="checkboxList">
                        <li>
                            <label>
                                <input type="checkbox" value="Option 1"> Utility Chart
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Option 2"> JoinUtility Chart
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Option 3"> ContractImbalance Chart
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="applyButton">Export</button>
                </div>
            </div>
        </div>
    </div>

    <canvas id="UtilityChart"></canvas>
    <br>
    <button class="btn btn-secondary" id="toggleButtonAsp">Show Aspiration Level</button>
    <button class="btn btn-secondary" id="toggleButtonRes">Show Reservation Level</button>
    <br>
    <br>
    <h5 th:text="'Here you can see your joint utility and contract imbalance based on your offers:'"></h5>
    <div style="display: flex;">
        <div style="flex: 1;">
            <canvas id="JointUtilityChart"></canvas>
        </div>
        <div style="flex: 1;">
            <canvas id="ContractImbalanceChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p th:text="${feedbackJointUtility}"></p>
        </div>
        <div class="col-6">
            <p th:text="${feedbackContractImbalance}"></p>
        </div>
    </div>
    <br>
    <form th:action="@{/feedbackAfter}">
        <button type="submit" class="btn btn-primary">Request feedback after negotiation</button>
    </form>
    <script th:inline="javascript">
        const bestUtility = /*[[${bestUtility}]]*/ [];
        const worstUtility = /*[[${worstUtility}]]*/ [];
        const aspLevelValue = /*[[${selectedAspirationLevel}]]*/ [];
        const resLevelValue = /*[[${selectedReservationLevel}]]*/ [];
        const xValues = /*[[${countArray}]]*/ [];
        const aspLevel = Array(xValues.length).fill(aspLevelValue / 100);
        const resLevel = Array(xValues.length).fill(resLevelValue / 100);

        let chart = new Chart("UtilityChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    label: 'Best Utility',
                    borderColor: "rgb(255,0,0)",
                    data: bestUtility
                },
                    {
                        label: 'Worst Utility',
                        borderColor: "rgba(0,0,255)",
                        data: worstUtility
                    },
                    {
                        label: 'Aspiration Level',
                        borderColor: "rgb(93,190,61)",
                        data: aspLevel
                    },
                    {
                        label: 'Reservation Level',
                        borderColor: "rgb(27,80,9)",
                        data: resLevel
                    }
                ]
            },
            options: {
                legend: {display: true},
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 1
                        }
                    }],
                }
            }
        });

        const jointUtility = /*[[${jointUtility}]]*/ [];
        const contractImbalance = /*[[${contractImbalance}]]*/ [];
        const barColors = /*[[${barColors}]]*/ [];
        const barColors2 = /*[[${barColors2}]]*/ [];
        const xValues2 = /*[[${countArray2}]]*/ [];

        let chart2 = new Chart("JointUtilityChart", {
            type: "bar",
            data: {
                labels: xValues2,
                datasets: [{
                    label: 'Joint Utility',
                    backgroundColor: barColors,
                    data: jointUtility
                }]
            },
            options: {
                legend: {display: true},
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 2
                        }
                    }],
                }
            }
        });

        let chart3 = new Chart("ContractImbalanceChart", {
            type: "bar",
            data: {
                labels: xValues2,
                datasets: [{
                    label: 'Contract Imbalance',
                    backgroundColor: barColors2,
                    data: contractImbalance
                }]
            },
            options: {
                legend: {display: true},
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 1
                        }
                    }],
                }
            }
        });

        function exportChart() {
            let url = chart.toBase64Image();
            let a = document.createElement('a');
            a.href = url;
            a.download = 'UtilityChart.png';
            a.click();
        }

        function exportChart2() {
            let url = chart2.toBase64Image();
            let a = document.createElement('a');
            a.href = url;
            a.download = 'JointUtilityChart.png';
            a.click();
        }

        function exportChart3() {
            let url = chart3.toBase64Image();
            let a = document.createElement('a');
            a.href = url;
            a.download = 'ContractImbalanceChart.png';
            a.click();
        }


        document.getElementById('applyButton').addEventListener('click', applySelection);


        function applySelection() {
            var checkboxList = document.querySelectorAll('#checkboxList input[type="checkbox"]');

            for (var i = 0; i < checkboxList.length; i++) {
                var checkbox = checkboxList[i];

                if (checkbox.checked) {

                    if (checkbox.value === 'Option 1') {
                        exportChart();
                    }
                    if (checkbox.value === 'Option 2') {
                        exportChart2();
                    }
                    if (checkbox.value === 'Option 3') {
                        exportChart3();
                    }
                }
            }


            $('#myModal').modal('hide');
        }


        //Buttons zum Einblenden
        let toggleButtonAsp = document.getElementById('toggleButtonAsp');
        toggleButtonAsp.addEventListener('click', toggleLineAsp);
        let toggleButtonRes = document.getElementById('toggleButtonRes');
        toggleButtonRes.addEventListener('click', toggleLineRes);
        //Bei Start ausgeblendet
        let dataset = chart.data.datasets[2];
        dataset.hidden = true;
        let dataset2 = chart.data.datasets[3];
        dataset2.hidden = true;
        chart.update();

        function toggleLineAsp() {
            let datasetIndex = 2;
            let dataset = chart.data.datasets[datasetIndex];

            dataset.hidden = !dataset.hidden;
            chart.update();
        }

        function toggleLineRes() {
            let datasetIndex = 3;
            let dataset = chart.data.datasets[datasetIndex];

            dataset.hidden = !dataset.hidden;
            chart.update();
        }
    </script>
</div>

<th:block th:include="fragments/footer.html :: footer" ></th:block>

</div>
</body>
</html>