<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<th:block th:insert="~{fragments/htmlHead :: head}"></th:block>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="logo.css"/>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6487/6487865.png">
    <script>
    </script>
</head>
<body>
<th:block th:include="fragments/navbar.html :: navbar" ></th:block>
<div class="container">
    <h3>Feedback after the negotiation</h3>
    <h5 th:text="'Here you can see the your personal TKI-Style:'"></h5>
    <br>
    <canvas id="TkiDiagram"></canvas>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3  border rounded-lg bg-secondary p-2">
            <h6 th:text="'Your TKI-Style is:'"></h6>
            <div>
                <div th:each="tkiType, iter1 : ${tkiTypes}" th:with="tki=${tkiValuesInt[iter1.index]}">
                    <p th:text="${tki}+'% '+${tkiType}" th:remove="tag"></p>
                </div>
            </div>
        </div>
        <div class="col-3  border rounded-lg bg-secondary p-2">
            <br>
            <p th:text="'You have chosen ' +${selectedTKI} +' as your favoured TKI-Style.'"></p>
            <p th:text="${feedback}"></p>
        </div>
    </div>
    <br>
    <h5 th:text="'Here you can see feedback to the duration of the negotiation and your most important issue:'"></h5>
    <br>
    <p th:text="'Start Date: '+${beginDate}"></p>
    <p th:text="'End Date: '+${endDate}"></p>
    <p>
        <span>In this time you wrote </span>
        <strong th:text="${messageCount}"></strong>
        <span> Messages.</span>
    </p>
    <canvas id="timeChart"></canvas>
    <h6 th:text="${feedbackTime}"></h6>
    <br>
    <h6 th:text="'Your most important issue <<'+${selectedIssue}+'>> had an outcome value of <<'+${accept}+'>>.'"></h6>

</div>
<script th:inline="javascript">
    //RADAR CHART
    const tkiValues = /*[[${tkiValues}]]*/ [];
    let diagramCanvas = document.getElementById("TkiDiagram");
    let TkiDiagramData = {
        labels: ["Competing", "Compromising", "Collaborating", "Avoiding", "Accommodating"],
        datasets: [{
            label: "Your TKI Style",
            backgroundColor: "rgba(200,0,0,0.2)",
            data: tkiValues
        }]
    };
    let radarChart = new Chart(diagramCanvas, {
        type: 'radar',
        data: TkiDiagramData
    });

    let actualTime = /*[[${days}]]*/ '';
    let selectedTime = /*[[${selectedTime}]]*/ '';

    let ctx = document.getElementById('timeChart').getContext('2d');
    let chart5 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Preferred Time', 'Actual Time'],
            datasets: [{
                label: 'Duration in Days',
                data: [selectedTime, actualTime],
                backgroundColor: ['rgba(54, 162, 235, 0.5)', 'rgba(54, 162, 235, 1)'],
                borderColor: ['rgba(54, 162, 235, 1)', 'rgba(54, 162, 235, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            legend: {display: true},
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            }
        }
    });
</script>
</div>

<th:block th:include="fragments/footer.html :: footer" ></th:block>

</div>
</body>
</html>