<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--<th:block th:insert="~{fragments/htmlHead :: head}"></th:block>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Feedback</title>
    <link rel="stylesheet" type="text/css" href="logo.css"/>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6487/6487865.png">
    <script>
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="https://cdn-icons-png.flaticon.com/512/6487/6487865.png" class="img-fluid">
            </div>
        </a>
        <a class="navbar-brand text-primary" href="#">SOPRA Negotiation Website</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-primary" aria-current="page" href="/">Home</a>
                </li>

            </ul>
            <ul class="nav navbar-nav ml-auto mb-2 mb-lg-0">
                <i class="fa fa-user icon"></i>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log out" class="btn btn-primary"/></form>
            </ul>
        </div>

    </div>
</nav>
<div class="container">
    <h3>Feedback during the negotiation</h3>
    <p th:text="'Here you can see the feedback to your selected Negotiation: Negotiation ' + ${selectedOption}"></p>
    <div class="border p-3">
        <h6 th:text="'You chose this Aspiration Level: ' + ${selectedAspirationLevel}+'%'"></h6>
        <p th:text="${feedbackAsp}"></p>
        <h6 th:text="'You chose this Reservation Level: ' + ${selectedReservationLevel}+'%'"></h6>
        <p th:text="${feedbackRes}"></p>
    </div>
    <br>
    <h5 th:text="'Here you can see the utility values from your partners offers/counteroffers:'"></h5>
    <button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Export diagrams</button>
    <div id="demo" class="collapse border p-3">
        <br>
        <label for="buttonExport">Utility Chart:</label>
        <button class="btn btn-secondary" id="buttonExport" onclick="exportChart()">Export</button>
        <br>
        <br>
        <label for="buttonExport2">JointUtility Chart:</label>
        <button class="btn btn-secondary" id="buttonExport2" onclick="exportChart2()">Export</button>
        <br>
        <br>
        <label for="buttonExport3">ContractImbalance Chart:</label>
        <button class="btn btn-secondary" id="buttonExport3" onclick="exportChart3()">Export</button>
    </div>
    <canvas id="UtilityChart"></canvas>
    <br>
    <button class="btn btn-secondary" id="toggleButtonAsp">Show Aspiration Level</button>
    <button class="btn btn-secondary" id="toggleButtonRes">Show Reservation Level</button>
    <br>
    <br>
    <h5 th:text="'Here you can see your joint utility and contract imbalance based on your offers:'"></h5>
    <div style="display: flex;">
        <div style="flex: 1;">
            <canvas id="JointUtilityChart"></canvas>
        </div>
        <div style="flex: 1;">
            <canvas id="ContractImbalanceChart"></canvas>
        </div>
    </div>
    <form th:action="@{/feedbackAfter}">
        <button type="submit" class="btn btn-primary">Request feedback after negotiation</button>
    </form>
    <script th:inline="javascript">
        const bestUtility = /*[[${bestUtility}]]*/ [];
        const worstUtility = /*[[${worstUtility}]]*/ [];
        const aspLevelValue = /*[[${selectedAspirationLevel}]]*/ [];
        const resLevelValue = /*[[${selectedReservationLevel}]]*/ [];
        const xValues = /*[[${countArray}]]*/ [];
        const aspLevel = Array(xValues.length).fill(aspLevelValue / 100);
        const resLevel = Array(xValues.length).fill(resLevelValue / 100);

        let chart = new Chart("UtilityChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    label: 'Best Utility',
                    borderColor: "rgb(255,0,0)",
                    data: bestUtility
                },
                    {
                        label: 'Worst Utility',
                        borderColor: "rgba(0,0,255)",
                        data: worstUtility
                    },
                    {
                        label: 'Aspiration Level',
                        borderColor: "rgb(93,190,61)",
                        data: aspLevel
                    },
                    {
                        label: 'Reservation Level',
                        borderColor: "rgb(27,80,9)",
                        data: resLevel
                    }
                ]
            },
            options: {
                legend: {display: true},
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                }
            }
        });

        const jointUtility = /*[[${jointUtility}]]*/ [];
        const contractImbalance = /*[[${contractImbalance}]]*/ [];
        const barColors = /*[[${barColors}]]*/ [];
        const barColors2 = /*[[${barColors2}]]*/ [];

        let chart2 = new Chart("JointUtilityChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    label: 'Joint Utility',
                    backgroundColor: barColors,
                    data: jointUtility
                }]
            },
            options: {
                legend: {display: true},
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                }
            }
        });

        let chart3 = new Chart("ContractImbalanceChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    label: 'Contract Imbalance',
                    backgroundColor: barColors2,
                    data: contractImbalance
                }]
            },
            options: {
                legend: {display: true},
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                }
            }
        });

        function exportChart() {
            let url = chart.toBase64Image();
            let a = document.createElement('a');
            a.href = url;
            a.download = 'UtilityChart.png';
            a.click();
        }

        function exportChart2() {
            let url = chart2.toBase64Image();
            let a = document.createElement('a');
            a.href = url;
            a.download = 'JointUtilityChart.png';
            a.click();
        }

        function exportChart3() {
            let url = chart3.toBase64Image();
            let a = document.createElement('a');
            a.href = url;
            a.download = 'ContractImbalanceChart.png';
            a.click();
        }

        //Buttons zum Einblenden
        let toggleButtonAsp = document.getElementById('toggleButtonAsp');
        toggleButtonAsp.addEventListener('click', toggleLineAsp);
        let toggleButtonRes = document.getElementById('toggleButtonRes');
        toggleButtonRes.addEventListener('click', toggleLineRes);
        //Bei Start ausgeblendet
        let dataset = chart.data.datasets[2];
        dataset.hidden = true;
        let dataset2 = chart.data.datasets[3];
        dataset2.hidden = true;
        chart.update();

        function toggleLineAsp() {
            let datasetIndex = 2;
            let dataset = chart.data.datasets[datasetIndex];

            dataset.hidden = !dataset.hidden;
            chart.update();
        }

        function toggleLineRes() {
            let datasetIndex = 3;
            let dataset = chart.data.datasets[datasetIndex];

            dataset.hidden = !dataset.hidden;
            chart.update();
        }
    </script>
</div>
<footer class="text-center text-white" style="background-color: #292828">

    <div class="container">

        <section class="mt-5">

            <div class="row text-center d-flex justify-content-center pt-5">

                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/aboutus" class="text-white">About us</a>
                    </h6>
                </div>
            </div>

        </section>


        <hr class="my-5"/>


        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        This site is designed to provide users with feedback on their negotiations in order to get
                        better in further negotiations!!
                    </p>
                </div>
            </div>
        </section>

    </div>
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2023 Copyright:
        <a class="text-white" href="http://localhost:8080"
        >SOPRANegotiation.com</a
        >
    </div>
</footer>
</div>
</body>
</html>