<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <title>Home</title>
    <script>
        function startNegotiation() {
            window.location.href = "Negotiation";
        }
    </script>
</head>
<body>
<div class="container-fluid bg-dark text-white p-3">
    <p th:text="'Herzlich Willkommen auf Ihrer Startseite'+', '+${currentUser}+'!'"></p>
    <p th:text="'Hier sehen Sie ihre aktuellen Verhandlungen:'"></p>
    <ul>
    <li th:each="negotiationID : ${userNegotiations}" th:text="${negotiationID}"></li>
    </ul>
    <button type="button" onclick="startNegotiation()" class="btn btn-primary">Verhandlung starten</button>
</div>
</body>
</html>
