<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <title>Login</title>

    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6487/6487865.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

</head>
<body class="p-3 mb-2 bg-dark text-black disabled">
<div class="container" style="background-color:#EBEBEB;">
    <nav class="navbar navbar-expand-lg navbar-primary bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">
                <div class="logo-image">
                    <img src="https://cdn-icons-png.flaticon.com/512/6487/6487865.png" height="48" width="50" class="img-fluid">
                </div>
            </a>
            <a class="navbar-brand" href="https://www.youtube.com/watch?v=hWvM6de6mG8">SOPRA Negotiation Website</a>
        </div>
    </nav>
    <form th:action="@{/login}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" th:text="'Welcome to the homepage!'"></h3>
                <h4 class="card-title" th:text="'Please login to enter the feedback system'"></h4>
                <br>
                <div th:if="${param.error}" class="alert alert-danger">
                    <span th:text="'Login failed. If you have not registered yet, you can register here →'"></span>
                    <button type="button" onclick="register()" class="btn btn-primary">Register</button>
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    <span th:text="'Logout successfull!'"></span>
                </div>
                <div th:if="${param.invalidUsername}" class="alert alert-danger">
                    <span th:text="'Username invalid.'"></span>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label><i class="fa-solid fa-user"></i> <strong> Username</strong></label>
                        <input type="text" id="username" name="username"  th:placeholder="'Username'" class="form-control" required="required" /><br/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label><i class="fa-solid fa-key"></i><strong> Password</strong></label>
                        <input type="password"  th:placeholder="'Password'" id="password" name="password" class="form-control" required="required"/><br/>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button name="Submit" value="Login" type="Submit" th:text="'Login'" class="btn btn-primary"></button>
            </div>
        </div>
    </form>
</div>

</body>
</html>