<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <title>Negotiation</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6487/6487865.png">
    <script>
        function logout() {
            window.location.href = "login?logout";
            }

        function validateInput() {
            let aspirationLevel = parseInt(document.getElementById("aspirationLevel").value);
            let reservationLevel = parseInt(document.getElementById("reservationLevel").value);

            // Check if aspirationLevel or reservationLevel is negative
            if (aspirationLevel < 0 || reservationLevel < 0) {
                alert("Aspiration oder Reservation Level dürfen nicht negativ sein!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container-fluid bg-dark text-white p-3">
    <h1>Verhandlungsziele</h1>
    <p th:text="'Bitte füllen Sie folgende Parameter aus'"></p>

    <form action="/feedback" method="post" onsubmit="return validateInput()">
            <label for="input1" class="col-sm-2 col-form-label">TKI Style</label>
            <select id="input1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                <option disabled selected value>Choose your TKI Style</option>
                <option value="1">Avoiding</option>
                <option value="2">Compromising</option>
                <option value="3">Competing</option>
                <option value="4">Collaborating</option>
                <option value="5">Accomodating</option>
            </select>

            <div class="form-group">
                <label for="aspirationLevel">Aspiration Level:</label>
                <input id="aspirationLevel" name="aspirationLevel" type="text" class="form-control" placeholder="Aspiration Level eingeben" required />

                <label for="reservationLevel">Reservation Level:</label>
                <input type="text" id="reservationLevel" name="reservationLevel" class="form-control" placeholder="Reservation Level eingeben" required />
            </div>
            <div class="slider-group">
                <label for="issue1">Issue1:</label>
                <input type="range" id="issue1" name="issueRange" class="issue-range">

                <label for="issue2">Issue2:</label>
                <input type="range" id="issue2" name="issueRange" class="issue-range">

                <label for="issue3">Issue3:</label>
                <input type="range" id="issue3" name="issueRange" class="issue-range">

                <label for="issue4">Issue4:</label>
                <input type="range" id="issue4" name="issueRange" class="issue-range">

                <label for="issue5">Issue5:</label>
                <input type="range" id="issue5" name="issueRange" class="issue-range">

            </div>


            <button type="submit" class="btn btn-primary">Feedback anfordern</button>


    </form>
    <br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Ausloggen" class="btn btn-primary"/></form>
</div>

</body>
</html>