<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--<th:block th:insert="~{fragments/htmlHead :: head}"></th:block>-->
    <title>Negotiation</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6487/6487865.png">
    <link rel="stylesheet" type="text/css" href="logo.css"/>
    <script>
        function logout() {
            window.location.href = "login?logout";
        }

        function validateInput() {
            let time = parseInt(document.getElementById("time").value);

            // Check if time is negative
            if (time <= 0) {
                alert("Chosen time can not be negativ or null!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="https://cdn-icons-png.flaticon.com/512/6487/6487865.png" class="img-fluid">
            </div>
        </a>
        <a class="navbar-brand" href="#">SOPRA Verhandlungswebsite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/negotiation">Negotiation</a>
                </li>

            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Ausloggen" class="btn btn-primary"/></form>
        </ul>
    </div>
</nav>
<div class="container-fluid bg-dark text-white p-5">
    <h1>Verhandlungsziele</h1><br>
    <h4 th:text="'Bitte füllen Sie folgende Parameter aus'"></h4>
    <br>
    <div class="row">
        <div class="col-5">
            <form action="/feedback" method="post" onsubmit="return validateInput()">
                <label for="input1">TKI-Style</label>
                <br>
                <select id="input1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        required>
                    <option disabled selected value>Choose your intended TKI-Style</option>
                    <option value="1">Avoiding</option>
                    <option value="2">Compromising</option>
                    <option value="3">Competing</option>
                    <option value="4">Collaborating</option>
                    <option value="5">Accomodating</option>
                </select>
                <br>
                <label for="input2">Most important Issue</label>
                <br>
                <select id="input2" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        required>
                    <option disabled selected value>Choose your most important issue</option>
                    <option value="1">Issue a</option>
                    <option value="2">Issue b</option>
                    <option value="3">Issue c</option>
                    <option value="4">Issue d</option>
                    <option value="5">Issue e</option>
                </select>
                <br>
                <br>
                <div class="form-group">
                    <label for="time">How fast do you need a conclusion?</label>
                    <input type="number" id="time" name="timeRange" class="issue-range" placeholder="Number of days"
                           required>
                </div>
                <br>
                <div class="slider-group">
                    <label for="aspirationLevel">Aspiration Level (in %)</label>
                    <input oninput="this.nextElementSibling.value = this.value" min="0" max="100" type="range"
                           id="aspirationLevel" name="aspirationLevel" class="issue-range" required/>
                    <output id="valueAspirationLevel">50</output>
                    <br>
                    <label for="reservationLevel">Reservation Level (in %)</label>
                    <input oninput="this.nextElementSibling.value = this.value" min="0" max="100" type="range"
                           id="reservationLevel" name="reservationLevel" class="issue-range" required/>
                    <output id="valueReservationLevel">50</output>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Feedback anfordern</button>

            </form>
        </div>
        <div class="col-5 border">
            <h4>TKI-Style?</h4>
            <p>The TKI-Style refers to negotiation styles based on the Thomas-Kilmann Conflict Mode Instrument (TKI). It assesses individuals' preferred approaches to handling conflict through five styles. By understanding their preferred style, negotiators can develop effective strategies to navigate conflicts and work towards mutually beneficial resolutions.</p>
            <br>
            <h4>Aspiration Level?</h4>
            <p>The Aspiration Level is the value of the desired utility in %. In other words, what you want to achieve.</p>
            <br>
            <h4>Reservation Level?</h4>
            <p>The Reservation Level is the lowest value of the Utility in % that you would accept.</p>
        </div>
    </div>

</div>
<footer class="text-center text-white" style="background-color: #343a40">

    <div class="container">

        <section class="mt-5">

            <div class="row text-center d-flex justify-content-center pt-5">

                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">About us</a>
                    </h6>
                </div>
            </div>

        </section>


        <hr class="my-5" />


        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        This Website is designed to give Users Feedback for their Negotiations. In Order to get better in further Negotiations!
                    </p>
                </div>
            </div>
        </section>

    </div>
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2020 Copyright:
        <a class="text-white" href="http://localhost:8080"
        >SOPRANegotiation.com</a
        >
    </div>
</footer>
</div>
</body>
</html>