<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <title>Negotiation</title>
    <script>function logout() {
            window.location.href = "login?logout";
            }
    </script>
</head>
<body>
<div class="container-fluid bg-dark text-white p-3">
    <p th:text="'Start einer neuen Verhandlung'"></p>
    <p th:text="'Bitte füllen Sie folgende Parameter aus'"></p>
    <p th:text="${message}"></p>


        <h1>Verhandlungsziel</h1>
        <form action="/feedback" method="post">
            <label for="input1" class="col-sm-2 col-form-label">TKI Style</label>
            <select id="input1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                <option disabled selected value>Choose your TKI Style</option>
                <option value="1">Avoiding</option>
                <option value="2">Compromising</option>
                <option value="3">Three</option>
            </select>

            <div class="form-group">
                <label for="aspirationLevel">Aspiration Level:</label>
                <input id="aspirationLevel" name="aspirationLevel" type="text" class="form-control" placeholder="Aspiration Level eingeben" required />

                <label for="reservationLevel">Reservation Level:</label>
                <input type="text" id="reservationLevel" name="reservationLevel" class="form-control" placeholder="Reservation Level eingeben" required />
            </div>
            <div class="form-group">
                <label for="issue1">Issue1:</label>
                <input type="range" id="issue1" name="issueRange" class="issue-range">

                <label for="issue2">Issue2:</label>
                <input type="range" id="issue2" name="issueRange" class="issue-range">

                <label for="issue3">Issue3:</label>
                <input type="range" id="issue3" name="issueRange" class="issue-range">

                <label for="issue4">Issue4:</label>
                <input type="range" id="issue4" name="issueRange" class="issue-range">

                <label for="issue5">Issue5:</label>
                <input type="range" id="issue5" name="issueRange" class="issue-range">

            </div>


            <button type="submit" class="btn btn-primary">Feedback anfordern</button>
            <button type="button" onclick="logout()" class="btn btn-primary">Ausloggen</button>
        </form>
</div>

</body>
</html>